$body-background-color: #fafafa;
$body-background-color--dark: #1f2d36;
$header-background-color: #fff;
$header-background-color--dark: #2b3742;
$header-heading-font-size: 2rem;
$header-heading-font-weight: bold;
$button-width: 3rem;
$button-height: 3rem;
$form-box-shadow: 0px 0px 15px -10px #000;
$card-box-shadow: 5px 5px 15px -10px #000;
$border-radius: 5px;
$cards-column-gap: 2rem;
$cards-row-gap: 4rem;
$card-width: 320px;
$card-image-height: 213px;
$card-image-width: 320px;
